<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <h2>{{upperCaseTitle}}</h2>
        <input v-model="title" />
        <!-- mit v-model ist es reaktiv -> also wenn du was ergänzt zu title in dem input feld, wird es bei den anderen instanzen von title auch ergänzt -->

        <button v-on:click="resetInput">Reset</button>
        <div>
          <small>{{ unsavedChangesCounter }} unsaved Changes.</small><br />
          <small style="color: red" v-if="unsavedChangesCounter > 10" >Please save.</small>
        </div>
      </div>
</body>
</html>